body {
  background: #F8F8F8;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

@mixin box-shadow($hlength, $vlength, $blur, $spread, $scolor) {
  box-shadow: $hlength $vlength $blur $spread $scolor;
}
