footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: #37B59D;

  .copyright {
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
