.main {
  height: 100vh;
  width: 100vw;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: $medium-view) {
    flex-direction: row;
  }
}

.homepage-column {
  width: 100%;
  text-align: center;

  &:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro,
  .signup {
    width: 80%;
    align-self: center;
  }

  @media screen and (min-width: $medium-view) {
    width: 50%;
    text-align: left;
  }
}

.product-column {
  text-align: center;

  .img-product {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50%;
    height: auto;
  }

  @media screen and (min-width: $medium-view) {
    .img-product {
      width: 60%;
      padding-bottom: 0%;
    }
  }

  @media screen and (min-width: $large-view) {
    .img-product {
      width: auto;
      height: 70%;
    }
  }
}
